<h1>Cocktails list</h1>
<div>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>

  <%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-primary"  %> 
</div>

